.main-bg {
  background-image: url("../images/main-bg-1.png");
  height: 1080px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.header {
  height: 7.1%;
  /* background-color: green; */
}
.banner {
  height: 40%;
  /* background-color: rgba(192, 1, 1, 0.555); */
}
.text-header {
  margin-left: 27%;
}
